* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
}

.main-container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 1);
}

nav {
  width: 100%;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.ul-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ul-container svg {
  display: none;
}
.desktop-navigation-ul {
  width: 50%;
  height: 50px;
  list-style: row;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.desktop-navigation-ul li {
  margin-left: 30px;
  white-space: nowrap;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
.logo-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-container svg {
  width: 50px;
  height: 50px;
  margin-left: 10%;
}

.container-for-centering {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-about-container {
  width: 50%;
  height: 100%;
}

.logo-about-container svg {
  width: 100%;
  height: 100%;
}
.about-section {
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.about-description-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description-container p {
  color: white;
  line-height: 24px;
}

.ul-container-mobile {
  position: absolute;
  width: 50%;
  height: auto;
  top: 80px;
  right: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.mobile-navigation-ul {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.mobile-navigation-ul li {
  margin-bottom: 50px;
  margin-left: 0;
}
.cart {
  width: 40px;
  height: 50px;
  background: url("https://api.iconify.design/ph/shopping-cart-light.svg?color=white")
    no-repeat center center / contain;
  position: relative;
}

.cart::after {
  content: " ";
  width: 9px;
  height: 9px;
  background-color: red;
  position: absolute;
  top: 3px;
  right: 0;
  border-radius: 50%;
}

.hamburger-menu,
.close-hamburger-menu {
  display: none;
  width: auto;
  height: auto;
  margin-right: 4%;
}

@media (max-width: 1000px) {
  .desktop-navigation-ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu svg,
  .close-hamburger-menu svg {
    display: block;
    width: 40px;
    height: 40px;
    color: white;
  }
}

@media (max-width: 550px) {
  body {
    font-size: 0.7rem;
  }
}
