* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
}

.main-container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 1);
}

nav {
  width: 100%;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.ul-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.desktop-navigation-ul {
  list-style: row;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 30px;
}

li {
  margin-left: 30px;
  white-space: nowrap;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
.logo-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-container svg {
  width: 50px;
  height: 50px;
  margin-left: 10%;
}

.slider-section {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-centering-container {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture-slider-container {
  width: 70vw;
  height: 40vw;
  background-image: url(/images/iceland.jpg);
  background-size: cover;
  border: 1px black solid;
  position: relative;
}

.h2-container {
  font-size: 2rem;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description ul,
.description li {
  list-style: none;
  margin: 0;
}

.description a {
  margin-inline: 30px;
}

.description a:hover {
  cursor: pointer;
}

.btns-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 7%;
  height: 10.5%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 700ms;
}

.btn:hover {
  background-color: black;
  transition: 700ms;
  cursor: pointer;
}

.btn svg {
  width: 90%;
  height: 90%;
  color: rgb(243, 243, 243);
}

.catalogue-section {
  width: 100%;
  height: auto;
}

.catalogue-section-header {
  width: 100%;
  height: 150px;
  background-color: black;
}

.catalogue-section-header h2 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 20px;
}

.selection-container {
  width: 25%;
  height: 40px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

select {
  width: 50%;
  height: 50%;
  color: white;
  background-color: black;
}

option {
  color: white;
}

.catalogue-container {
  width: 100%;
  height: auto;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-center {
  margin-block: 10vw;
  width: 90vw;
  height: auto;
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  column-gap: 10vw;
  row-gap: 10vw;
  grid-auto-rows: 40vw;
}

.grid-center div {
  width: 40vw;
  height: 40vw;
  background-color: rgb(0, 0, 0);
  transition: 300ms;
}

.catalogue-item:hover {
  transform: scale(1.1);
  transition: 300ms;
  cursor: pointer;
}

.grid-center h2,
.grid-center p {
  color: white;
}

.grid-center div div {
  width: 100%;
  height: 50%;
  background-size: cover;
}

.grid-center .text-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay-content-container {
  width: 900px;
  height: 900px;
  background-color: rgb(224, 224, 224);
  position: relative;
}

.close {
  width: 4%;
  height: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 700ms;
}
.close:hover {
  background-color: black;
  transition: 700ms;
  cursor: pointer;
}

.close svg {
  width: 80%;
  height: 80%;
  color: rgb(224, 224, 224);
}

.overlay-picture-container {
  width: 100%;
  height: 50%;
  background-size: cover;
}

.destination-description-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination-description {
  width: 90%;
  line-height: 30px;
}

.about-section {
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container-for-centering {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-about-container {
  width: 50%;
  height: 100%;
}

.logo-about-container svg {
  width: 100%;
  height: 100%;
}

.about-description-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description-container p {
  color: white;
  line-height: 24px;
}
.ul-container svg {
  display: none;
}

.ul-container-mobile {
  position: absolute;
  width: 50%;
  height: auto;
  top: 80px;
  right: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.mobile-navigation-ul {
  color: white;
  list-style: none;
  padding-inline-start: 0;
}

.mobile-navigation-ul li {
  margin-bottom: 50px;
  margin-left: 0;
}

.hamburger-menu,
.close-hamburger-menu {
  display: none;
  width: auto;
  height: auto;
  margin-right: 4%;
}

.contact-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  width: 900px;
  height: 900px;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-contact-overlay {
  position: absolute;
}

form {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px black solid;
}

textarea {
  width: 100%;
  border: 1px black solid;
  background-color: white;
}

.input-container {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#submit {
  width: 30%;
}
@media (min-width: 1000px) {
  .grid-center {
    grid-template-columns: repeat(3, 25vw);
    column-gap: 7.5vw;
    row-gap: 7.5vw;
    grid-auto-rows: 25vw;
  }
  .grid-center div {
    width: 25vw;
    height: 25vw;
  }
  .slider-centering-container {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picture-slider-container {
    width: 800px;
    height: 500px;
  }
}
@media (max-width: 1000px) {
  .desktop-navigation-ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu svg,
  .close-hamburger-menu svg {
    display: block;
    width: 40px;
    height: 40px;
    color: white;
  }
  .overlay-content-container {
    width: 100%;
    height: 70%;
  }
  .contact-form-container {
    width: 100%;
    height: 70%;
  }
}

@media (max-width: 550px) {
  body {
    font-size: 0.7rem;
  }
}
